
body{
    min-height: 250vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pacifico', cursive;
}

div.main_page{
    width: 95%;
    height: 250vh;
}





.header{
    display: flex;
    height: 30px;
    font-size: medium;
    font-weight: normal;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header img{
    margin-top: -50px;
    width: 220px;
    height: 200px;
    margin-right: 20px;
}

.header input#active label.menu-btn{
    margin-bottom: 20px;
}

.navContainer{
width: 100%;
align-content: center;
margin: 0px 50px 0px 50px;
}
.navContainer .search_bar{
  display: flex;
}
.navContainer .search_bar #button{
  height: 30px;
  width: 130px;
  color: white;
  font-weight: normal;
  background-color: transparent;
  border-radius: 10px;
  border:1px solid white;
  border-top: none;
  font-size: 16px;
  font-family: 'Pacifico', cursive;
  margin-top: 40px;
  margin-left: 20px;
}
.navContainer .search_bar #button:hover{
  background-color: rgba(32, 149, 32, 0.911);
  border:1px solid rgba(32, 149, 32, 0.911);
}

a.logout{
  margin-top: 100px;
  color: transparent;
  text-align: right;
  font-size: larger;
  align-content: right;
}
a.logout:hover{
  color: rgba(32, 149, 32, 0.911);
}

.navMenu{
flex-grow: 2;
margin: 5px 30px 5px 30px;
background-color: white;
align-self: center;
border-radius: 10px;
box-shadow: 5px 5px 5px rgb(199, 184, 184);
}

.navMenu a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.navigation {
  --b: 0.1em;  
  --c: rgba(32, 149, 32, 0.911); 
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

.navigation:hover {
--_p: 100%;
--_s: .3s;
}

.input-container{
	position:relative;
  margin-top: 40px;
	margin-bottom:25px;
  width: 100%;
}
.input-container label{
  position:absolute;
  top:0px;
  left:10px;
  font-size:16px;
  color:white;	
  pointer-events:none;
  transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid white; 
  border-right:1px solid white;
  border-left:1px solid white; 
  background:transparent;
  width:100%;
  padding:8px 0 3px 5px;
  font-size:16px;
  color:white;
  border-radius: 10px;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid rgba(32, 149, 32, 0.911);	
 border-right:1px solid rgba(32, 149, 32, 0.911);	
 border-left:1px solid rgba(32, 149, 32, 0.911);	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-10px;
	font-size:12px;
	color: rgba(32, 149, 32, 0.911);
  font-weight: bold;
}
  
.admin i{
  color: transparent;
  font-size: 4rem;
  width: 30px;
  transition: color .4s ease;
  margin-top: 20px;
  margin-right: 20px;
  padding: 1px 4px 4px;
}

.admin i:hover{
  color: rgba(32, 149, 32, 0.911);
}
.add_book i{
  color: white;
  font-size: 4rem;
  width: 30px;
  transition: color .4s ease;
  margin-top: 20px;
  margin-right: 20px;
  padding: 1px 4px 4px;
  }
  
  .add_book i:hover{
  color: rgba(32, 149, 32, 0.911);
  }









.main{
  background-color: transparent;
  padding: 50px 0;
  margin-top: 50px;
  min-height: 200vh;
}
.container {
  max-width: 92%;
  margin: 0 auto;
  padding: 0 20px;
}
.container h1{
  color: white;
  font-weight: bolder;
  font-style: italic;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 900px;
}
.container i{
  color: white;
  font-size: 1rem;
  width: 15px;
  transition: color .4s ease;
  margin-bottom: 10px;
  padding: 1px 4px 4px;
}
.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
  min-height: 800px;
  max-height: 1000px;
}
.carousel__slide div {
  position: relative;
  width: 50%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: fill;
}
.carousel__slide figcaption {
  align-self: flex-start;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 50%;
  min-width: 150px;
  color: white;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}
.carousel__slide .genre{
  margin-top: 2rem;
  color: white;
  display: block;
  font-size: 0.5cm;
  text-align: left;
}
.carousel__slide .description{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  display: block;
  font-size: 0.5cm;
  text-align: left;
}
.carousel__slide .title{
  color: rgb(12, 167, 115);
  font-size: 1cm;
  font-weight: bolder;
  text-align: center;
}
.carousel__slide .author{
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: gainsboro;
  display: block;
  font-size: larger;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}
.carousel__slide .rating{
  display: inline-flex;
  font-size: larger;
  font-weight: bold;
  color: aquamarine;
}
.carousel__slide .rating i{
  color: aquamarine;
  font-size: 2rem;
  width: 15px;
  transition: color .4s ease;
  margin-bottom: 10px;
  padding: 1px 15px 4px;
  margin-right: 10px;
}
.carousel__slide .rating p{
  margin-top: 0px;
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
  color: aquamarine;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}






.scene {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  perspective: 800px;
}
.scene .card {
  width: 240px;
  height: 300px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}
.scene .card:hover {
  transform: rotateY(0.5turn);
}
.scene .card .card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}
.scene .card .card__face img {
  width: 240px;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
}
.scene .card .card__face--back {
  transform: rotateY(0.5turn);
}




.sign_up{
  display: flex;
  margin: 50px 20px 10px 70px;
  color: white;
}

.sign_up p{
  width: 50px;
  flex-grow: 1;
  padding-top: 10px;
  margin-right: 20px;
}

::placeholder { 
  color: white;
  opacity: 1;
  font-family: 'Pacifico', cursive;
}

.sign_up input{
  flex-grow: 1;
  border:0;
  border-bottom:1px solid white;  
  background:transparent;
  padding:10px 10px 10px 0px;
  font-size:16px;
  margin: 0px 20px 20px 20px;
  color:white;
}

.sign_up input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid rgba(32, 149, 32, 0.911);	
  color: rgba(32, 149, 32, 0.911);
}

.btn {
  width: auto; 
  height: 53px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  width: 150px;
  }
  .btn span {         
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 0px 20px 15px;
    transition: 0.3s;
  }
  
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btn span {
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Pacifico', cursive;
  }
  .btn span:hover {
  color: rgba(32, 149, 32, 0.911);
  }
  .btn::before,
  .btn::after {
  width: 15%; height: 2px;
  background-color: transparent;
  z-index: 2.5;
  }
    
  .btn::before,
  .btn::after {
    top: 0;
    transition: width 0.2s 0.35s ease-out;
  }
  .btn::before {
    right: 50%;
  }
  .btn::after {
    left: 50%;
  }
  .btn:hover::before,
  .btn:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;   
  }
  
  .btn span::before,
  .btn span::after {
    width: 0%; height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }
  .btn span::before {
    top: 0; left: 0;
    border-left: 2px solid rgba(32, 149, 32, 0.911);
    border-bottom: 2px solid rgba(32, 149, 32, 0.911);
  }
  .btn span::after {
    top: 0; right: 0;
    border-right: 2px solid rgba(32, 149, 32, 0.911);
    border-bottom: 2px solid rgba(32, 149, 32, 0.911);
  }
  .btn span:hover::before,
  .btn span:hover::after {
    width: 50%; height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;   
  }






footer{
  position: absolute;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 5px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials-media{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials-media li{
  margin: 0px 10px;
}
.socials-media a{
  text-decoration: none;
  color: white;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.socials-media a i{
  font-size: 1rem;
  width: 15px;
  transition: color .4s ease;
  margin-bottom: 10px;
  margin-right: 2px;
  padding: 1px 4px 4px;
}

.socials-media a:hover i{
  color: rgba(32, 149, 32, 0.911);
}

.footer-bottom{
  background: #000;
  width: 100%px;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:rgba(32, 149, 32, 0.911);
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
  padding-left: 10px;
  display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: rgba(32, 149, 32, 0.911);
}



@media (max-width:800px){
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}

.footer-content{
  display: flex;
  flex-direction: column;
}}
