
body{
    min-height: 150vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pacifico', cursive;
}

div.main_page{
  width: 95%;
  height: 150vh;
  margin-bottom: 30px;
}





.header{
    display: flex;
    height: 30px;
    font-size: medium;
    font-weight: normal;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header img{
    margin-top: -50px;
    width: 220px;
    height: 200px;
    margin-right: 20px;
}

.header input#active label.menu-btn{
    margin-bottom: 20px;
}

.navContainer{
width: 100%;
align-content: center;
margin: 0px 50px 0px 50px;
}

a.logout{
  margin-top: 100px;
  color: transparent;
  text-align: right;
  font-size: larger;
  align-content: right;
}
a.logout:hover{
  color: rgba(32, 149, 32, 0.911);
}

.navMenu{
flex-grow: 2;
margin: 5px 30px 5px 30px;
background-color: white;
align-self: center;
border-radius: 10px;
box-shadow: 5px 5px 5px rgb(199, 184, 184);
}

.navMenu a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.navigation {
  --b: 0.1em;  
  --c: rgba(32, 149, 32, 0.911); 
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

.navigation:hover {
--_p: 100%;
--_s: .3s;
}
.welcome{
  padding-top: 20px;
}
.welcome h1{
  color: aquamarine;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
}
.welcome i{
  color: aquamarine;
  font-size: 3rem;
  width: 30px;
  transition: color .4s ease;
  margin-right: 50px;
  margin-bottom: 25px;
  padding: 1px 4px 4px;
}
.admin i{
  color: white;
  font-size: 4rem;
  width: 5px;
  transition: color .4s ease;
  margin-top: 20px;
  margin-left: 20px;
  padding: 1px 4px 4px;
}

.admin i:hover{
  color: aquamarine;
}
.add_book i{
  color: white;
  font-size: 4rem;
  width: 30px;
  transition: color .4s ease;
  margin-top: 20px;
  margin-right: 20px;
  padding: 1px 4px 4px;
  }
  
  .add_book i:hover{
  color: rgba(32, 149, 32, 0.911);
  }








  .upload{
    background-color: transparent;
    border: 1px solid white;
    min-height: 30vh;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 150px;
  }
.main{
  background-color: transparent;
    margin-top: 150px;
    min-height: 110vh;
    width: 100%;
    margin-left: 25px;
    margin-bottom: 100px;
}
.main h2{
  color: aquamarine;
  margin-left: 20px;
  margin-top: 20px;
}
.main .page_info h2{
  color: white;
  margin: 20px auto;
  width: fit-content;
  font-size: 20px;
  text-align: center;
}
.main .page_info a{
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin: 10px 20px auto;
  padding: 7px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}
.main .page_info a:hover{
  background-color: rgba(32, 149, 32, 0.911);
  color: white;
  border: rgba(32, 149, 32, 0.911);
}
.post_input{
  position: absolute;
  color: white;
  width: 90%;
  margin-left: 20px;
  }

  .input-container{
    position:relative;
    margin-top: 10px;
    margin-bottom:25px;
    width: 100%;
  }
  .input-container label{
    position:absolute;
    top:0px;
    left:10px;
    font-size:20px;
    color:white;	
    pointer-events:none;
    transition: all 0.5s ease-in-out;
  }
  .input-container input{ 
    border:0;
    border-bottom:1px solid white;  
    background:transparent;
    width:50%;
    padding:15px 0 3px 20px;
    font-size:16px;
    color:white;
    border-radius: 10px;
  }
  .input-container textarea{
      border:0;
      border-bottom:1px solid white; 
      border-left: 1px solid white; 
      border-right: 1px solid white;
      background:transparent;
      width:70%;
      height: 300px;
      padding:15px 0 3px 20px;
      font-size:16px;
      color:white;
      border-radius: 10px;
  }
  .input-container input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid aquamarine;	
  }
  .input-container textarea:focus{
      border:none;	
      outline:none;
      border-bottom:1px solid aquamarine;
      border-left:1px solid aquamarine;
      border-right:1px solid aquamarine;	
  }
  .input-container input:focus ~ label,
  .input-container input:valid ~ label,
  .input-container textarea:focus ~ label,
  .input-container textarea:valid ~ label{
    top:-10px;
    font-size:16px;
      font-weight: bolder;
  }
  
  #button{
      height: 60px;
      width: 170px;
      color: white;
      font-weight: normal;
      background-color: transparent;
      border-radius: 5px;
      border:1px solid white;
      font-size: 20px;
      font-family: 'Pacifico', cursive;
  }
  #button:hover{
      background-color: rgba(32, 149, 32, 0.911);
      border:1px solid rgba(32, 149, 32, 0.911);
  }
  





.scene {
  margin-top: 300px;
  width: 1405px;
  display: flex;
  justify-content: space-evenly;
  perspective: 800px;
}
.scene .card {
  width: 200px;
  height: 300px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}
.scene .card:hover {
  transform: rotateY(0.5turn);
}
.scene .card .card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}
.scene .card .card__face img {
  width: 200px;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
}
.scene .card .card__face--back {
  transform: rotateY(0.5turn);
  background-color: rgb(45, 43, 43);
  border: 1px solid white;
  color: white;
}
.scene .card .card__face--back h2{
  font-weight: bolder;
  font-style: italic;
  color: aquamarine;
  padding-right: 10px;
  text-align: center;
  margin-bottom: 0;
  width: 80%;
}
.scene .card .card__face--back p{
  font-size: medium;
  font-weight: lighter;
  text-align: left;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 100px;
}
.scene .card .card__face--back a{
  color: white;
  align-content: center;
  margin-top: 100px;
  padding-left: 20px;
  padding-top: 50px; 
}
.scene .card .card__face--back a:hover{
  color: aquamarine;
  font-weight: bolder;
  font-size: large;
}





.sign_up{
  display: flex;
  margin: 50px 20px 10px 70px;
  color: white;
}

.sign_up p{
  width: 50px;
  flex-grow: 1;
  padding-top: 10px;
  margin-right: 20px;
}

::placeholder { 
  color: white;
  opacity: 1;
  font-family: 'Pacifico', cursive;
}

.sign_up input{
  flex-grow: 1;
  border:0;
  border-bottom:1px solid white;  
  background:transparent;
  padding:10px 10px 10px 0px;
  font-size:16px;
  margin: 0px 20px 20px 20px;
  color:white;
}

.sign_up input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid rgba(32, 149, 32, 0.911);	
  color: rgba(32, 149, 32, 0.911);
}

.btn {
  width: auto; 
  height: 53px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  width: 150px;
  }
  .btn span {         
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 0px 20px 15px;
    transition: 0.3s;
  }
  
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btn span {
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Pacifico', cursive;
  }
  .btn span:hover {
  color: rgba(32, 149, 32, 0.911);
  }
  .btn::before,
  .btn::after {
  width: 15%; height: 2px;
  background-color: transparent;
  z-index: 2.5;
  }
    
  .btn::before,
  .btn::after {
    top: 0;
    transition: width 0.2s 0.35s ease-out;
  }
  .btn::before {
    right: 50%;
  }
  .btn::after {
    left: 50%;
  }
  .btn:hover::before,
  .btn:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;   
  }
  
  .btn span::before,
  .btn span::after {
    width: 0%; height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }
  .btn span::before {
    top: 0; left: 0;
    border-left: 2px solid rgba(32, 149, 32, 0.911);
    border-bottom: 2px solid rgba(32, 149, 32, 0.911);
  }
  .btn span::after {
    top: 0; right: 0;
    border-right: 2px solid rgba(32, 149, 32, 0.911);
    border-bottom: 2px solid rgba(32, 149, 32, 0.911);
  }
  .btn span:hover::before,
  .btn span:hover::after {
    width: 50%; height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;   
  }






footer{
  position: absolute;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 5px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials-media{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials-media li{
  margin: 0px 10px;
}
.socials-media a{
  text-decoration: none;
  color: white;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.socials-media a i{
  font-size: 1rem;
  width: 15px;
  transition: color .4s ease;
  margin-bottom: 10px;
  margin-right: 2px;
  padding: 1px 4px 4px;
}

.socials-media a:hover i{
  color: rgba(32, 149, 32, 0.911);
}

.footer-bottom{
  background: #000;
  width: 100%px;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:rgba(32, 149, 32, 0.911);
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
  padding-left: 10px;
  display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: rgba(32, 149, 32, 0.911);
}



@media (max-width:800px){
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}

.footer-content{
  display: flex;
  flex-direction: column;
}}
